
@{
    ViewData["Title"] = "Resume";
}

<h2>Resume</h2>

<div class="grid-container-page">
    <div class="divparentleft">
        <div class="divtextwithtitle">
            <div class="divtitle">
                <p class="titletext">Wim Forton</p>
            </div>
            <div class="divtextblok">
                <p>Date of birth: <br />07/01/1969</p>
                <p>location: <br />3300 Oplinter</p>
                <p>Contact:<br />
                    +32 472/812271<br />
                    wim.forton@gmail.com<br />
                    github.com/wimForton<br />
                    www.wimforton.be
                </p>
                <p>
                    Skateboarding<br />
                    Snowboarding<br />
                    Art, Music<br />
                    Photography<br />
                    Circus<br />
                    RC Flying
                </p>
                <p>
                    Dutch: native<br />
                    English: fluent written & spoken<br />
                    French, German: spoken & understood<br />
                </p>
                <p>Drivers license: B</p>
            </div>
        </div>

    </div>
@*         <div class="divparentright">
            @for (int i = 0; i < (int)ViewData["NumTextblokken"]!; i++)
            {
            <div class="divtextwithtitle">
                <div class="divtitle">
                    @ViewData["Titel"]
                </div>
                <div class="divtextblok">
                        @ViewData["Textblok"]
                </div>



            </div>
            }
        </div> *@
    <div class="divparentright">
        <div class="divtextwithtitle">
            <div class="divtitle">
                    <p class="titletext">Introduction</p>
            </div>
            <div class="divtextblok">
                <p>
                After a 20+ year long carrier in animation and visual effects I'm going in a new direction.<br />
                In 2021 I had the opportunity to follow a 6 month course in fullstack development in .net C# and typescript (angular).<br />
                I now have 2 years of experience in typescript game development for Starcasino in Brussels, I also did a lot of programming for my VFX work.<br />
                During and after my course I made several projects to grow my skills in programming and demonstrate my capabilities. The most important ones you can find on my github page: https://github.com/wimForton
                </p>
                <p>
                Regards, Wim Forton
                </p>
            </div>
        </div>
        <div class="divtextwithtitle">
            <div class="divtitle">
                <p class="titletext">Technologies</p>
            </div>
            <div class="divtextblok">
                <table>
                    <tr>
                        <td>
                        •	C#:  SQL, Git, MVC, Linq, Entity and Identity Framework, Xamarin, Swagger, Razor pages, OpenGL.
                        </td>
                    </tr>
                    <tr>
                        <td>
                    •	Typescript:  Pixijs, Angular, Angular material, Bootstrap, Threejs webgl, HTML, CSS, HTTPS communication, CLI
                        </td>
                    </tr>

                    <tr>
                        <td>•	Common:  SOLID design principles, OOP, Agile</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="divtextwithtitle">
            <div class="divtitle">
                <p class="titletext">Work experience</p>
            </div>
            <div class="divtextblok">
                <table>
                    <tr>
                        <td>2021  </td>
                        <td>2023  </td>
                        <td>Starcasino: Frontend game developer</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>2021</td>
                        <td>Course fullstack developer .net/C#</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>2021</td>
                        <td>Angle Gaming Labs: Game design.</td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td>2019</td>
                        <td>Freelance</td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td>2017</td>
                        <td>Kadenza: Animation and styling for diverse ketnet and vrt programs, pilot for  animated tv series.</td>
                    </tr>
                    <tr>
                        <td>2008</td>
                        <td>2012</td>
                        <td>Freelance: Cotoon, Creacon, Pix-it, kadenza, Grid, Walking-The-Dog, The Fridge...</td>
                    </tr>
                    <tr>
                        <td>2003</td>
                        <td>2008</td>
                        <td>Sabouge Antwerp: Computer animation.</td>
                    </tr>
                    <tr>
                        <td>2002</td>
                        <td>2003</td>
                        <td>Pix-it: Computer animation.</td>
                    </tr>
                    <tr>
                        <td>2001</td>
                        <td>2002</td>
                        <td>Freelance: pix-it, medina factory etc.</td>
                    </tr>
                    <tr>
                        <td>1996</td>
                        <td>2001</td>
                        <td>Grid-vfx: Computer animation.</td>
                    </tr>
                    <tr>
                        <td>1993</td>
                        <td>1996</td>
                        <td>Silkscreen art, photography, illustration</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="divtextwithtitle">
            <div class="divtitle">
                <p class="titletext">Studies</p>
            </div>
            <div class="divtextblok">
                <table>
                    <tr>
                        <td>2021  </td>
                        <td>2021  </td>
                        <td>Course fullstack developer .net/C#</td>
                    </tr>
                    <tr>
                        <td>1992</td>
                        <td>1996</td>
                        <td>Courses: classical animation, anatomy drawing, painting, cartoon drawing, C++</td>
                    </tr>
                    <tr>
                        <td>1991</td>
                        <td>1993</td>
                        <td>Graphic design at St.Maria</td>
                    </tr>
                    <tr>
                        <td>1988</td>
                        <td>1991</td>
                        <td>Restoration techniques at Technicum</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>




