
@{
    ViewData["Title"] = "3D";
}

<h2>3D desktop application</h2>
<div class="common-container-page">
    <br />
    <div class="divtextblok">
        <h4>
            A desktop 3D Modeling application
        </h4>
        <p><a href="https://github.com/wimForton/3Dframwork">https://github.com/wimForton/3Dframwork</a></p>
        <p>
            This is a project that I made during my course fullstack developer.
        </p>
        <p>
            My goal was to program a 3D application to learn solid object oriented programming skills and to see how many features I could add.
            I used C#, xaml for the node window and the glfw dll for the 3D view.
        </p>
        <p>
            For this project I wrote:
        </p>
        <ul>
            <li>
            A 3D data model with points, vertices and polygons.
            </li>
            <li>
            3D classes to generate primitives (torus, sphere etc.).
            </li>
            <li>
            A parser to translate standard .obj files to my own datastructure.
            </li>
            <li>
            A gui framework to store, use and display the nodes and connections that make up the 3D models.
            </li>
            <li>
            A 3D render framework that uses the glfw library to make use of open gl hardware rendering.
            </li>
            <li>
            Functionality to save and load the users work as a json file.
            </li>
            <li>
            A keyframe system to animate most of the parameters over time.
            </li>
        </ul>
        <div class="image-container">
        <img style="width:100%" src="~/images/3Dapp.png" alt="3Dapp.png"><br />
        </div>
    </div>
</div>