
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<header>

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" target="projectpage" asp-area="" asp-controller="Projects" asp-action="Midi">Midi database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" target="projectpage" asp-area="" asp-controller="Projects" asp-action="Framework3D">3D framework</a>
            </li>
        </ul>
    </div>
    <iframe name="projectpage"></iframe>

</header>




