
@{
    ViewData["Title"] = "Midi database";
}

<h2>Midi database</h2>
<div class="common-container-page">
<br />
    <div class="divtextblok">
        <h4>
            Midi (music note database) with display and play functionality
        </h4>
        <p><a href="https://github.com/wimForton/BackendMVC">https://github.com/wimForton/BackendMVC</a></p>
        <p>
            This is a fullstack project for storing metadata in a database and midi files.
        </p>
        <p>
            Wikipedia: MIDI (Musical Instrument Digital Interface) is a technical standard that describes a communication protocol, digital interface, and electrical connectors that connect a wide variety of electronic musical instruments, computers, and related audio devices for playing, editing, and recording music.
        </p>
        <p>
            Miditracks are listed as tables with info like: filename, composer, length etc. 
            When the user clicks the details button he will be directed to a page where the data is visualised, 
            the user can press play and an internal synthesizer will play the part while the notes scroll by.
        </p>
        <p>
            Todo: Create the page to add your own compositions to the database. 
            Add support for images that show the composer's picture. 
            Add restrictions with identity framework to make sure not every random person can add data.
        </p>
        <div class="image-container">
            <img src="~/images/MidiList.png" alt="MidiList.png">
            <img src="~/images/MidiPlay.png" alt="MidiPlay.png">
            <img src="~/images/MidiUpload.png" alt="MidiUpload.png">
        </div>
    </div>
</div>




