@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Website under construction</h1>
    <p>Meanwhile you can go to my resume, for questions feel free to contact me any time</p>
    
</div>
