@{
    ViewData["Title"] = "Home";
}

<h2>Welcome!</h2>
<div class="common-container-page">
    <br />
    <div class="divtextblok">
        <img style="float:left; width: 110px; margin: 15px" src="~/images/logo_blank.png" alt="logo_blank.png">
        <p>
            After a 20+ year long carrier in animation and visual effects I'm going in a new direction.<br />
            In 2021 I had the opportunity to follow a 6 month course in fullstack development in .net C# and typescript (angular).<br />
            I now have 2 years of experience in typescript game development for Starcasino in Brussels, I also did a lot of programming for my VFX work.<br />
            During and after my course I made several projects to grow my skills in programming and demonstrate my capabilities. The most important ones you can find on my github page: https://github.com/wimForton
        </p>
    </div>
</div>
